
#Created by Constraints Editor (xc6slx45-fgg676-2) - 2018/05/04
NET "iCLK_DIFF_P" TNM_NET = "iCLK_DIFF_P";
TIMESPEC TS_iCLK_DIFF_P = PERIOD "iCLK_DIFF_P" 20 ns HIGH 50 %;
NET "iCLK_DIFF_N" TNM_NET = "iCLK_DIFF_N";
TIMESPEC TS_iCLK_DIFF_N = PERIOD "iCLK_DIFF_N" 20 ns LOW 50 %;
NET "iCLK" TNM_NET = "iCLK";
TIMESPEC TS_iCLK = PERIOD "iCLK" 41.67 ns HIGH 50 %;

#Copied from MCB core ucf file
NET "imcb/memc3_wrapper_inst/memc3_mcb_raw_wrapper_inst/selfrefresh_mcb_mode" TIG;
NET "imcb/c3_pll_lock" TIG;
INST "imcb/memc3_wrapper_inst/memc3_mcb_raw_wrapper_inst/gen_term_calib.mcb_soft_calibration_top_inst/mcb_soft_calibration_inst/DONE_SOFTANDHARD_CAL*" TIG;
NET "imcb/memc3_wrapper_inst/memc3_mcb_raw_wrapper_inst/gen_term_calib.mcb_soft_calibration_top_inst/mcb_soft_calibration_inst/CKE_Train" TIG;
CONFIG MCB_PERFORMANCE= EXTENDED;
CONFIG VCCAUX=3.3;

NET "ioRAM_UDQS" IOSTANDARD = DIFF_SSTL18_II;
NET "ioRAM_LDQS" IOSTANDARD = DIFF_SSTL18_II;
NET "oRAM_CLK" IOSTANDARD = DIFF_SSTL18_II;

NET "oRAM_CLK" LOC = R4;
NET "onRAM_RAS" LOC = N8;
NET "onRAM_CAS" LOC = P8;
NET "oRAM_ODT" LOC = P6;

NET "oRAM_BADDR[0]" LOC = P3;
NET "oRAM_BADDR[1]" LOC = P1;
NET "oRAM_BADDR[2]" LOC = N5;

NET "oRAM_BADDR[2]" IOSTANDARD = SSTL18_II;
NET "oRAM_BADDR[1]" IOSTANDARD = SSTL18_II;
NET "oRAM_BADDR[0]" IOSTANDARD = SSTL18_II;
NET "oRAM_ADDR[13]" IOSTANDARD = SSTL18_II;
NET "oRAM_ADDR[12]" IOSTANDARD = SSTL18_II;
NET "oRAM_ADDR[11]" IOSTANDARD = SSTL18_II;
NET "oRAM_ADDR[10]" IOSTANDARD = SSTL18_II;
NET "oRAM_ADDR[9]" IOSTANDARD = SSTL18_II;
NET "oRAM_ADDR[8]" IOSTANDARD = SSTL18_II;
NET "oRAM_ADDR[7]" IOSTANDARD = SSTL18_II;
NET "oRAM_ADDR[6]" IOSTANDARD = SSTL18_II;
NET "oRAM_ADDR[5]" IOSTANDARD = SSTL18_II;
NET "oRAM_ADDR[4]" IOSTANDARD = SSTL18_II;
NET "oRAM_ADDR[3]" IOSTANDARD = SSTL18_II;
NET "oRAM_ADDR[2]" IOSTANDARD = SSTL18_II;
NET "oRAM_ADDR[1]" IOSTANDARD = SSTL18_II;
NET "oRAM_ADDR[0]" IOSTANDARD = SSTL18_II;

NET "onRAM_WE" LOC = P5;
NET "oRAM_CKE" LOC = M9;
NET "onRAM_CS" LOC = L4;
NET "oRAM_LDM" LOC = W3;
NET "oRAM_UDM" LOC = V4;
NET "ioRAM_LDQS" LOC = V3;
NET "ioRAM_UDQS" LOC = AC2;
NET "inRST" LOC = AE24;

NET "oRAM_ADDR[5]" LOC = R2;
NET "oRAM_ADDR[6]" LOC = R1;
NET "oRAM_ADDR[3]" LOC = P7;
NET "oRAM_ADDR[7]" LOC = P10;
NET "oRAM_ADDR[2]" LOC = R9;
NET "oRAM_ADDR[1]" LOC = N6;
NET "oRAM_ADDR[0]" LOC = N7;
NET "oRAM_ADDR[4]" LOC = N9;
NET "oRAM_ADDR[10]" LOC = M10;
NET "oRAM_ADDR[8]" LOC = N4;
NET "oRAM_ADDR[9]" LOC = N3;
NET "oRAM_ADDR[11]" LOC = L3;
NET "oRAM_ADDR[13]" LOC = M6;
NET "oRAM_ADDR[12]" LOC = M8;

NET "oRAM_UDM" IOSTANDARD = SSTL18_II;
NET "oRAM_ODT" IOSTANDARD = SSTL18_II;
NET "oRAM_LDM" IOSTANDARD = SSTL18_II;
NET "oRAM_CKE" IOSTANDARD = SSTL18_II;
NET "onRAM_WE" IOSTANDARD = SSTL18_II;
NET "onRAM_RAS" IOSTANDARD = SSTL18_II;
NET "onRAM_CS" IOSTANDARD = SSTL18_II;
NET "onRAM_CAS" IOSTANDARD = SSTL18_II;
NET "inRST" IOSTANDARD = LVCMOS33;

NET "iCLK" LOC = M21;
NET "iCLK_DIFF_P" LOC = AD14;
NET "iCLK_DIFF_N" LOC = AF14;
NET "ioRZQ" LOC = AC7;
NET "ioZIO" LOC = AE3;

NET "iCLK" IOSTANDARD = LVTTL;
NET "iCLK_DIFF_P" IOSTANDARD = LVDS_33;
NET "iCLK_DIFF_N" IOSTANDARD = LVDS_33;
NET "ioRZQ" IOSTANDARD = SSTL18_II;
NET "ioZIO" IOSTANDARD = SSTL18_II;

NET "ioRAM_DQ[15]" IOSTANDARD = SSTL18_II;
NET "ioRAM_DQ[14]" IOSTANDARD = SSTL18_II;
NET "ioRAM_DQ[13]" IOSTANDARD = SSTL18_II;
NET "ioRAM_DQ[12]" IOSTANDARD = SSTL18_II;
NET "ioRAM_DQ[11]" IOSTANDARD = SSTL18_II;
NET "ioRAM_DQ[10]" IOSTANDARD = SSTL18_II;
NET "ioRAM_DQ[9]" IOSTANDARD = SSTL18_II;
NET "ioRAM_DQ[8]" IOSTANDARD = SSTL18_II;
NET "ioRAM_DQ[7]" IOSTANDARD = SSTL18_II;
NET "ioRAM_DQ[6]" IOSTANDARD = SSTL18_II;
NET "ioRAM_DQ[5]" IOSTANDARD = SSTL18_II;
NET "ioRAM_DQ[4]" IOSTANDARD = SSTL18_II;
NET "ioRAM_DQ[3]" IOSTANDARD = SSTL18_II;
NET "ioRAM_DQ[2]" IOSTANDARD = SSTL18_II;
NET "ioRAM_DQ[1]" IOSTANDARD = SSTL18_II;
NET "ioRAM_DQ[0]" IOSTANDARD = SSTL18_II;

NET "ioRAM_DQ[0]" LOC = Y3;
NET "ioRAM_DQ[1]" LOC = Y1;
NET "ioRAM_DQ[2]" LOC = W2;
NET "ioRAM_DQ[3]" LOC = W1;
NET "ioRAM_DQ[4]" LOC = T3;
NET "ioRAM_DQ[5]" LOC = T1;
NET "ioRAM_DQ[6]" LOC = U2;
NET "ioRAM_DQ[7]" LOC = U1;
NET "ioRAM_DQ[8]" LOC = AA2;
NET "ioRAM_DQ[9]" LOC = AA1;
NET "ioRAM_DQ[10]" LOC = AE2;
NET "ioRAM_DQ[11]" LOC = AE1;
NET "ioRAM_DQ[12]" LOC = AD3;
NET "ioRAM_DQ[13]" LOC = AD1;
NET "ioRAM_DQ[14]" LOC = AB3;
NET "ioRAM_DQ[15]" LOC = AB1;

NET "oRGB[0]" LOC = A18;
NET "oRGB[1]" LOC = B18;
NET "oRGB[2]" LOC = L17;
NET "oRGB[3]" LOC = M18;
NET "oRGB[4]" LOC = C18;
NET "oRGB[5]" LOC = K18;
NET "oRGB[6]" LOC = C19;
NET "oRGB[7]" LOC = C20;
NET "oRGB[8]" LOC = A9;
NET "oRGB[9]" LOC = A11;
NET "oRGB[10]" LOC = B12;
NET "oRGB[11]" LOC = A12;
NET "oRGB[12]" LOC = N17;
NET "oRGB[13]" LOC = A13;
NET "oRGB[14]" LOC = N18;
NET "oRGB[15]" LOC = A16;
NET "oRGB[16]" LOC = B4;
NET "oRGB[17]" LOC = A4;
NET "oRGB[18]" LOC = A5;
NET "oRGB[19]" LOC = B6;
NET "oRGB[20]" LOC = A6;
NET "oRGB[21]" LOC = A7;
NET "oRGB[22]" LOC = B8;
NET "oRGB[23]" LOC = A8;

NET "oVGA_CLK" LOC = C14;
NET "oH_SYNC" LOC = B22;
NET "oV_SYNC" LOC = A22;
NET "onBLANK" LOC = B16;
NET "onPSAVE" LOC = A2;
NET "onSYNC" LOC = A17;

# PlanAhead Generated IO constraints 
NET "oRGB[23]" IOSTANDARD = LVTTL;
NET "oRGB[22]" IOSTANDARD = LVTTL;
NET "oRGB[21]" IOSTANDARD = LVTTL;
NET "oRGB[20]" IOSTANDARD = LVTTL;
NET "oRGB[19]" IOSTANDARD = LVTTL;
NET "oRGB[18]" IOSTANDARD = LVTTL;
NET "oRGB[17]" IOSTANDARD = LVTTL;
NET "oRGB[16]" IOSTANDARD = LVTTL;
NET "oRGB[15]" IOSTANDARD = LVTTL;
NET "oRGB[14]" IOSTANDARD = LVTTL;
NET "oRGB[13]" IOSTANDARD = LVTTL;
NET "oRGB[12]" IOSTANDARD = LVTTL;
NET "oRGB[11]" IOSTANDARD = LVTTL;
NET "oRGB[10]" IOSTANDARD = LVTTL;
NET "oRGB[9]" IOSTANDARD = LVTTL;
NET "oRGB[8]" IOSTANDARD = LVTTL;
NET "oRGB[7]" IOSTANDARD = LVTTL;
NET "oRGB[6]" IOSTANDARD = LVTTL;
NET "oRGB[5]" IOSTANDARD = LVTTL;
NET "oRGB[4]" IOSTANDARD = LVTTL;
NET "oRGB[3]" IOSTANDARD = LVTTL;
NET "oRGB[2]" IOSTANDARD = LVTTL;
NET "oRGB[1]" IOSTANDARD = LVTTL;
NET "oRGB[0]" IOSTANDARD = LVTTL;
NET "oVGA_CLK" IOSTANDARD = LVTTL;
NET "oH_SYNC" IOSTANDARD = LVTTL;
NET "onBLANK" IOSTANDARD = LVTTL;
NET "onPSAVE" IOSTANDARD = LVTTL;
NET "onSYNC" IOSTANDARD = LVTTL;
NET "oV_SYNC" IOSTANDARD = LVTTL;

NET "oSCLK" LOC = AF25;
NET "onCS" LOC = V22;
NET "onRESET" LOC = V20;
NET "ioSIO[0]" LOC = AE25;
NET "ioSIO[1]" LOC = AD26; 
NET "ioSIO[2]" LOC = AE26;
NET "ioSIO[3]" LOC = W22;

NET "oSCLK" IOSTANDARD = LVTTL;
NET "onCS" IOSTANDARD = LVTTL;
NET "onRESET" IOSTANDARD = LVTTL;
NET "ioSIO[0]" IOSTANDARD = LVTTL;
NET "ioSIO[1]" IOSTANDARD = LVTTL;
NET "ioSIO[2]" IOSTANDARD = LVTTL;
NET "ioSIO[3]" IOSTANDARD = LVTTL;

NET "iFILTER_MODE[0]" LOC = W19;
NET "iFILTER_MODE[1]" LOC = Y24; 
NET "iSPLIT_SCREEN" LOC = K19;

NET "iFILTER_MODE[0]" IOSTANDARD = LVTTL;
NET "iFILTER_MODE[1]" IOSTANDARD = LVTTL;
NET "iSPLIT_SCREEN" IOSTANDARD = LVTTL;

NET "oLED[0]" LOC = N24;
NET "oLED[1]" LOC = N23;
NET "oLED[2]" LOC = M24;
NET "oLED[3]" LOC = L24;
NET "oLED[4]" LOC = L23;
NET "oLED[5]" LOC = K24;

NET "oLED[0]" IOSTANDARD = LVCMOS33;
NET "oLED[1]" IOSTANDARD = LVCMOS33;
NET "oLED[2]" IOSTANDARD = LVCMOS33;
NET "oLED[3]" IOSTANDARD = LVCMOS33;
NET "oLED[4]" IOSTANDARD = LVCMOS33;
NET "oLED[5]" IOSTANDARD = LVCMOS33;

NET "oLCD_L" LOC = AD24;
NET "oLCD_RS" LOC = F24;
NET "oLCD_RW" LOC = C21;
NET "oLCD_EN" LOC = D21;
NET "oLCD_DATA[0]" LOC = W18;
NET "oLCD_DATA[1]" LOC = V18;
NET "oLCD_DATA[2]" LOC = D18;
NET "oLCD_DATA[3]" LOC = T18;

NET "oLCD_L" IOSTANDARD = LVTTL;
NET "oLCD_RS" IOSTANDARD = LVTTL;
NET "oLCD_RW" IOSTANDARD = LVTTL;
NET "oLCD_EN" IOSTANDARD = LVTTL;
NET "oLCD_DATA[0]" IOSTANDARD = LVTTL;
NET "oLCD_DATA[1]" IOSTANDARD = LVTTL;
NET "oLCD_DATA[2]" IOSTANDARD = LVTTL;
NET "oLCD_DATA[3]" IOSTANDARD = LVTTL;